Theano==1.0.5
j1m.sphinxautointerface==0.3.0
pkgwat.api==0.13
pyldap==3.0.0.post1
opentick==1.2.0
opentsdb-http-client==0.2.0
opentsdb-python-metrics==0.2.0
opentuner==0.8.8
openvr==1.23.701
OPi.GPIO==0.5.2
oppy==0.0.6
opsgenie-sdk==2.1.5
opticalglass==1.0.7
oracle-version==0.2.0
orangebox==0.2.0
orange-starfrac==1.0.2
orange-widget-base==4.21.0
orbited==0.7.10
orderedmultidict==1.0.1
orderedset==2.0.3
ordered-set==4.1.0
orgnote==1.0.5
orion==0.2.7
orionframework==1.0.67
orionsdk==0.3.0
orjson==3.9.2
orkg==0.16.3
ortools-utils==0.0.23
oru==0.2.3
os-apply-config==13.1.0
os-brick==6.3.0
os-client-config==2.1.0
osc-placement==4.1.0
oscrypto-tests==1.3.0
oseti==0.4.2
OSGeo-Easy==0.0.1.dev16
oslo.config==9.1.1
oslo.context==5.1.1
oslo.db==13.1.0
oslo.i18n==6.0.0
oslo.messaging==14.3.1
oslo.rootwrap==7.0.1
oslo.utils==6.2.0
oslo.vmware==4.1.1
osm2gpd==1.0.1
osm-export-tool==0.0.28
osmosis-aws-driver==0.1.0
osm-runner==0.0.3
osmtilecalc==1.0.0
os_networksv2_python_novaclient_ext==0.26
os-package-registry==0.0.21
ospd-openvas==22.5.3
os-refresh-config==13.1.0
os_virtual_interfacesv2_python_novaclient_ext==0.20
othertools==1.0.13
otoole==1.0.4a2
ottr==0.0.1
out==0.78a2
outliertree==1.8.1.post9
ovccg==0.9
overrides==7.3.1
ovf==0.4.3
ovito==3.9.0.dev120
owa-epanet==2.2.4
owcli==8.0.0
oweatherm==0.5.2
owl-pipeline-client==0.10.0
Owlready2==0.43
ownca==0.4.0
OWSLib==0.29.2
oxford-dic==1.0.4
ox_herd==0.8.1
ox_mon==0.2.15
oxo-pkg==2.1.1
p2j==1.3.2
p2pcam==0.0.3
p2py==0.23
p3-data==2.0.2
p3-test-driver==2.0.3
p4p==4.1.9
paasta-tools==0.190.2
pacco==0.4.3
pack-carlist==0.0.1
packitos==0.78.1
packstack==22.0.0.0rc1
paco.models==7.8.34
pacurses==0.1.1
paddlecraft==0.0.2
paddle-gpu-serving==0.8.3
padhana==1.0.12
pagelabels==1.2.0
paho-mqtt==1.6.1
painkiller==0.0.0
pak==1.0.0.post2
palora==3.1
PALs==0.3.5
panamah-sdk-python==1.0.4
pandarallel==1.6.5
pandas==2.0.3
pandas-bokeh==0.5.5
